* {
  background-color: black;
  color: white;
}

.nav {
  display: flex;
  list-style-type: none;
  text-decoration: none;
}

ul li {
  margin: 0px 10px;
}


.header {
  display: flex;
  justify-content: space-between;
}